# copy from https://zhuanlan.zhihu.com/p/78350977

$include /etc/inputrc

$if Bash
# For bash, use menu complete to cycle through possible completions
# 更多的有关于 readline 的补全 https://www.gnu.org/software/bash/manual/html_node/Commands-For-Completion.html
TAB: menu-complete
# complete until the end of common prefix before cycling through possible completions
set menu-complete-display-prefix on
$else
# For other apps, use plain complete instead for better compatibility
TAB: complete
$endif

# never ring the terminal bell
set bell-style none
# show possible completions if more than one completions are possible
set show-all-if-ambiguous on
# do not duplicate characters after the cursor if they consist partially of possbile completion
set skip-completed-text on
# display colors when doing completion as `ls` does
set colored-stats on
# color tab-completion matched prefix part
set colored-completion-prefix on
# fuck off stty key bindings. (stty -a)
set bind-tty-special-chars off
# expand tilde automatically, some programs don't do tilde expansion themselves
set expand-tilde off
# append "/" to symlink to directory
set mark-symlinked-directories on

$if mode=emacs
"\eh": kill-region
"\eH": copy-region-as-kill
"\e\C-l": redraw-current-line
"\es": delete-horizontal-space

"\C-xf": dump-functions
"\C-xv": dump-variables
"\C-xm": dump-macros

# inserting delimiters
"\C-x\'": "\'\'\C-b"
"\C-x`": "``\C-b"
"\C-x\"": "\"\"\C-b"
"\C-x{": "{}\C-b"
"\C-x[": "[]\C-b"
"\C-x(": "()\C-b"

# macro
"\C-x0": vi-eWord
# run so|me[1]-command[2] 当鼠标位于|时，按下下面这个按键，则跳到[2]处，但是alt-f会跳到[1]处
"\eF": "\C-x0\C-f"
# 类似于alt-F 对于 alt-f一样， alt-B 相对于 alt-b 来说，alt-B 会跳的更远
"\eB": vi-bWord
# alt-D 删除的更远的word end处
# 这个快捷键与 windows-terminal的快捷键冲突，好在，这个快捷键并不是很常见
"\eD": "\e \eF\eh"
$endif
